[[source]]
url = "http://mirrors.cloud.tencent.com/pypi/simple"
verify_ssl = false
name = "pip_conf_index_global"

[packages]
pyinstaller = "*"
requests = "*"
ttkbootstrap = "*"
qrcode = "*"

[dev-packages]

[requires]
python_version = "3.10"
